@import url('https://fonts.googleapis.com/css2?family=Economica:wght@400;700&family=Noto+Sans+JP:wght@400;700;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition-duration: .4s;

}
body{
	font-family: 'Noto Sans JP', sans-serif;
}
a, a:hover{
	text-decoration: none;
}
p{
	font-size: 18px;
}

header{
	background: url(../img/hero-bg.jpg) center top no-repeat;
	background-size: cover;
	/*background-position: center;
	background-repeat: no-repeat;*/
	height: 90vh;
	background-color: #00000059;
	background-blend-mode: overlay;
	background-attachment: fixed;
}
.navbar-brand h1 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

.navbar-brand h1 span {
    display: block;
    font-size: 16px;
    letter-spacing: 1px;
}

.bg-light{
	    background: #000000ad!important;
	    padding: 10px 0;
}

.banner_inner {
    text-align: center;
    top: 50%;
    right: 50%;
    position: absolute;
    transform: translate(50%, -50%);
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
    padding: 5px 15px;
    border: 1px solid transparent;
    border-radius: 40px;
    font-weight: 500;
    background: transparent;
}

.navbar-light .navbar-nav .nav-link:hover{
	border: 1px solid #fff;
    /*background: #e31057;*/
   	color: #fff;
}

li.nav-item {
    margin: 0 5px;
}
h3 {
    font-size: 24px;
    color: #fff;
}

.line {
    width: 55px;
    height: 3px;
    background: #e31057;
    margin: auto;
}

h1 {
    font-size: 70px;
    font-weight: 900;
    color: #fff;
}


.btn-danger {
    font-size: 18px;
    background: #e31057;
    padding: 8px 30px;
    border-radius: 35px;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    margin-top: 15px;
    border: 2px solid #e31057;
    transition-duration: .4s;
}

.btn-danger:hover{
	background: #fff;
	color: #e31057;
}

.comment_section {
    padding: 40px 0px;
    background: #F4F5F9;
}

.comment_text p {
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 30px;
    font-family: 'Economica', sans-serif;
}

.comment_text h6 {
    font-size: 18px;
    font-weight: 600;
}

.upcoming_event_section{
	padding: 60px 0px;
}

.section_heading h1 {
    font-size: 40px;
    color: #000;
}

.event_inner {
    padding: 70px 0;
}

.event_img {
    padding: 40px;
    
}
.event_img img {
    border-radius: 6px;
    box-shadow: 8px 7px #d9d9d97d;
}

.event_text{
	padding: 0 60px;
}

.event_text h3 {
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

.btn-link {
    font-weight: 700;
    color: #e31057;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    border: 1px solid transparent;
}

.btn-link i{
	margin-left: 5px;
}

.btn-link:hover{
	border: 1px solid #e31057;
	color: #000;
}

.explore-world{
	background: url(../img/section-bg.jpg) center no-repeat;
    background-size: contain;
    height: 90vh;
    background-attachment: fixed;
    background-color: #0000007d;
    background-blend-mode: hue;
}

.explore-world .world{
  align-items: center;
  min-height: 90vh;
}

.explore-world .line{

    margin-left: 0;
}

.world-banner p {
    
    color: #fff;
    margin-top: 20px;
    line-height: 26px;
    margin-bottom: 20px;
}

.world-banner h1 {
    margin-bottom: 20px;
}

.world-banner .btn-link{
	color: #fff;
	padding: 5px 0;
}

.world-banner .btn-link:hover{
	
	color: #e31057;
}

.upcoming_section{
	padding: 70px 0;
}

.feature_img img {
    padding: 12px 0;
    border-radius: 16px;
}

.feature_img img:hover{
	transform: scale(1.03);
}

.upcoming_banner {
    /*padding: 15px 90px 0 0;*/
    width: 80%;
    align-items: center;
}

.upcoming_section h1 {
    font-size: 40px;
    font-weight: 900;
    color: #000;
    margin: 18px 0;
    letter-spacing: 1px;
}

.upcoming_section .line {
    margin: 0;
}

.upcoming_section p {
    margin: 15px 0 20px;
    line-height: 30px;
}

footer {
    background: #191919;
    padding: 20px 0;
}

footer p, footer span {
    color: #fff;
    font-size: 16px;
}

